transformers==4.44.2
datasets==3.0.1
accelerate==0.34.2
evaluate==0.4.2
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.2
tqdm==4.66.5
sentencepiece==0.2.0
tokenizers==0.19.1
huggingface_hub==0.25.2
python-dotenv==1.0.1
matplotlib==3.9.2
REQ
